html,
body {
  width: 50%;
  margin: 0 auto;
  font-size: 10px;
  h1 {
    font-size: 4rem;
    color: #0004ff;
  }
  .main-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0b0c10;
    border-radius: 0.4rem;
    width: 500px;
  }
}

.container {
  /* background-color: red; */
  width: 36rem;
}

#inputField {
  width: 30rem;
  height: 4.6rem;
  border: 1px solid rgb(31, 31, 31);
  outline: none;
  font-size: 2.5rem;

  vertical-align: middle;
}

#inputField::placeholder {
  color: #0b0c10;
}

#addToDo {
  height: 5rem;
  width: 5rem;
  vertical-align: middle;
  border: 1px solid rgb(31, 31, 31);
  font-size: 3rem;
}

.allToDos {
  margin-top: 2.5rem;
  margin-bottom: 0;
}

/* NEW CLASS ADDED FROM JAVASCRIPT */

.parStyle {
  margin: 0;
  margin-bottom: 4rem;
  padding-left: 0.3rem;
  cursor: pointer;
  font-size: 4rem;
  color: #c5c6c8;
}

.restoreBtn {
  cursor: pointer;
  background-color: #6af4f2;
  width: 50px;
  height: 40px;
  position: relative;
  bottom: 80px;
  left: 26.7rem;
}

#toDoContainer.allToDos {
  height: 50rem;
  /*  background-color: red; */
}

/* Media */

@media screen and (max-width: 768px) {
  .main-container {
    background-color: #0033ff;
  }

  h1 {
    color: red;
  }
}
