html,
body {
  width: 50%;
  margin: 0 auto;
  font-size: 10px;
  h1 {
    font-size: 4rem;
    color: #6af4f2;
  }
  .main-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #0b0c10;
    border-radius: 0.4rem;
  }
}

.container {
  /* background-color: red; */
  width: 36rem;
}

#inputField {
  width: 30rem;
  height: 4.6rem;
  border: 1px solid rgb(31, 31, 31);
  outline: none;
  font-size: 2.5rem;
  vertical-align: middle;
}

#addToDo {
  height: 5rem;
  width: 5rem;
  vertical-align: middle;
  border: 1px solid rgb(31, 31, 31);
  font-size: 3rem;
}

.allToDos {
  margin-top: 2.5rem;
}

/* NEW CLASS ADDED FROM JAVASCRIPT */

.parStyle {
  margin: 0;
  margin-bottom: 3rem;
  cursor: pointer;
  font-size: 4rem;
  color: #c5c6c8;
}

/* Hadi version */

// body {
//   display: flex;
//   align-items: center;
//   /* justify-content: center; */
//   width: 100vh;
//   /* width: 100%; */
//   flex-direction: column;
//   background-color: red;
// }
// form {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 50%;
//   height: 3rem;
//   background-color: orange;
//   width: 50%;
// }
// input[type="text"] {
//   border: none;
// }
// button {
//   width: 4rem;
//   height: 1.5rem;
//   border: none;
//   background-color: navajowhite;
//   font-family: Tahoma, Geneva, Verdana, sans-serif, cursive;
//   font-size: 1rem;
// }
// li {
//   width: 50vw;
//   height: 3rem;
//   max-width: 50vw;
//   word-wrap: break-word;
//   overflow-wrap: break-word;
//   position: relative;
// }
// li div {
//   position: absolute;
//   right: 0;
//   top: 0;
// }
// li div button {
//   width: 1rem;
//   height: 2rem;
// }
// .delete {
//   color: red;
// }
// .completed {
//   /* some fancy styles */
//   text-decoration: line-through;
// }
// .done {
//   /* something */
// }
